*{
    color: white;
}

body{
    /*background-color: #464866;*/
}

.navbar {
    background-color: #29648A;
}

.nav-link{
    color: #AAABB8;
}

.navbar-brand{
    color: #AAABB8;
}

aside{
    background-color: #25274D;
}

section{
    background-color: #25274D;
}

article{
    background-color: #AAABB8;
}