*{
    color: white;
}



body{
    /*background-color: #464866;*/
}

.navbar {
    background-color: #0d6efd;
}

i{
    color:white;
}

.nav-link{
    color: white;
}

.navbar-brand{
    font-size: 3em !important;
    padding: 0 1%;
    color: white !important;
}

aside{
    background-color: #25274D;
}

section{
    background-color: #25274D;
}

article{
    background-color: #AAABB8;
}

.nav-pills .nav-link.active{
    background-color: #0d6efd;
}