body{
    background-color: #25274D
}

.navbar {
    background-color: #0d6efd;
}

i{
    color: white;
}

.nav-link{
    color: white;
}

.navbar-brand{
    font-size: 3em;
    padding: 0 1%;
    color: white;
}

/*.container-sm{*/
/*    background-color: #29648A;*/
/*}*/

.definition{
    /*background-color: #AAABB8;*/
    color: white;
    font-size: x-large;
    margin: 5em 2em;
    padding: 2em;
}

.typewriter h1 {
    font-size: 2em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /*margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.social{
    background-color: #2E9CCA;
    padding: 1em;
    margin: 1em auto;
}

.part{
    background-color: #E9ECF5;
    margin: 1em;
    padding: 1em;
}

.legislative{
    background-color: #464866;
    color: #E9ECF5;
    padding: 1em;
    margin: 1em auto;
}

.part2{
    background-color: #AAABB8;
    color: black;
    margin: 1em;
    padding: 1em;
}

/*for the active link*/
.nav-pills .nav-link.active{
    background-color: #0d6efd;
}


@media only screen and (max-width: 412px){
    
    .navbar-brand{
        font-size: 2em;
        padding: 0 1%;
        color: white;
    }
    
    .typewriter h1 {
        font-size: 1.5em;
    }
    
    .definition{
        margin: 0;
        font-size: large;
    }
}