body{
    background-color: #25274D
}

.navbar {
    background-color: #29648A;
}

.nav-link{
    color: white;
}

.navbar-brand{
    color: white;
}

/*.container-sm{*/
/*    background-color: #29648A;*/
/*}*/

.definition{
    background-color: #AAABB8;
    margin: 2em;
    padding: 2em;
}

.social{
    background-color: #2E9CCA;
    padding: 1em;
    margin: 1em auto;
}

.part{
    background-color: #E9ECF5;
    margin: 1em;
    padding: 1em;
}

.legislative{
    background-color: #464866;
    color: #E9ECF5;
    padding: 1em;
    margin: 1em auto;
}

.part2{
    background-color: #AAABB8;
    color: black;
    margin: 1em;
    padding: 1em;
}





/*for the active link*/
.nav-pills .nav-link.active{
    background-color: #29648A;
}