main {
    background-color: #29648A;
}

header {
    background-color: #25274D;
    color: white;
}

article {
    background-color: #2E9CCA;
}

section {
    background-color: white;
}

footer {
    background-color: #25274D;
    color: white;
}