

main {
    /*background-color: #29648A;*/
    height: 100%;
}

.navbar {
    background-color: #2E9CCA;
    color: white;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
}

#navbarSupportedContent {
    justify-content: flex-end;
}

img {
    opacity:50%;
    width: 100%;
    margin-top: 1%;
}



article {
    background-color: #25274D;
    color: white;
    
    margin-top: 1%;
}

section {
    height: 30%;
}

/*#card:hover {*/
/*    transform:scale(1.1);*/
/*}*/


footer {
    background-color: #25274D;
    color: white;
}



